<link rel="stylesheet" href="partial-styles/calling-card.css">

<div class="calling-card">
    <div class="title">
        <div class="name">{{name}}</div>
        <div class="badge">
            <img src="assets/gold-elo.svg">
        </div>
    </div>
    <div class="stats">
        <div class="wlr">wlr {{wlr}}</div>
        <div class="elo">{{elo}}</div>
    </div>
</div>