<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menu</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.typekit.net/ddg4kzp.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {{!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script> --}}
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        {{!-- pre-compiled templates --}}
        <script src="precomps/callingCard.precompiled.js" charset="utf-8" defer></script>
        <script src="precomps/mainMenu.precompiled.js" charset="utf-8" defer></script>
        <script src="precomps/gameArea.precompiled.js" charset="utf-8" defer></script>
        <script src="index.js" charset="utf-8" defer></script>
        <script src="game.js" charset="utf-8" ></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>