{{!-- <script src="partial-scripts/banner.js"></script> --}}
<link rel="stylesheet" href="partial-styles/banner.css">

<div id="banner">
    <div id="logo">
        <img src="assets/logo.svg">
    </div>
    <div id="social-links">
        <div id="git-hub-icon" class="social-icon">
            <img src="assets/github-icon.svg">
        </div>
        <div id="twitter-icon" class="social-icon">
            <img src="assets/twitter-icon.svg">
        </div>
        <div id="email-icon" class="social-icon">
            <img src="assets/email-icon.svg">
        </div>
    </div>
</div>