#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

#logo{
    height: 5rem;
}

#social-links{
    display: inherit;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    gap: 2rem;
}

.social-icon{
    height: 100%;
}