#game-area{
    width: 43rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#game-info button{
    font-family: axia, sans-serif;
    font-weight: 900;
    border: none;
    color: white;
    background-color: #dd2626;
    transition: ease-in-out 0.1s;
}

#game-info button:hover{
    background-color: black;
}

#room-id-container{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

#copy-room-id-button{
    width: 3rem;
}

#room-id{
    width: 50%;
    vertical-align: middle;
    text-align: center;
    font-family: new-hero, sans-serif;
    font-weight: regular;
    border: none;
    background-color: #e6e6e6;
}

/* score bar */

#score-bar{
    height: 10%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.player-score{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    gap: 1rem;
}

#user-score{
    justify-content: flex-start;
}

#oponent-score{
    justify-content: flex-end;
}

.score{
    font-family: new-hero, sans-serif;
    font-weight: regular;
    font-size: 2rem;
    margin: 0;
    transform: translateY(0.6rem);
}

#vs{
    font-family: axia, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    transform: translateY(1rem);
}

.score-block{
    width: 1.5rem;
    height: 0.75rem;
    background-color: #d9d9d9;
}

.score-block-7{
    height: 1.5rem;
}

/* canvas */

#canvas-container{
    display: flex;
    justify-content: center;
    border: solid 0.5rem black;
    background-color: black;
    height: 43rem;
}

#canvas{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}