#score-bar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.player-score{
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    gap: 1rem;
}

#user-score{
    justify-content: flex-start;
}

#oponent-score{
    justify-content: flex-end;
}

.score{
    font-family: new-hero, sans-serif;
    font-weight: regular;
    font-size: 2rem;
    margin: 0;
    transform: translateY(0.6rem);
}

#vs{
    font-family: axia, sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin: 0;
    transform: translateY(1rem);
}

.score-block{
    width: 1.5rem;
    height: 0.75rem;
    background-color: #d9d9d9;
}

.score-block-7{
    height: 1.5rem;
}